:root {
    --color-dark: #361999;
    --color-light: #78fff1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    background: linear-gradient(to top right, var(--color-dark), var(--color-light));
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    overflow: hidden;
}
form {
    backdrop-filter: blur(8px);
    background: linear-gradient(to left, rgba(255,255,255,0.05), rgba(255,255,255, 0.35));
    max-width: 300px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 36px 24px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0, 0.3);
}
.form__input-container {
    position: relative;
    margin-bottom: 32px;
}
input,
button {
    background: linear-gradient( to left, rgba(255,255,255, 0.1), rgba(255,255,255,0.25));
    border: none;
    border-radius: 18px;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0, 0.3);
    color: rgb(255,255,255);
    font-size: 24px;
    padding: 12px 24px;
    transition: box-shadow 0.3s, outline 0.3s;
}
input {
    width: 100%;
    
}
label {
    color: rgb(255,255,255);   
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.4;
    transition: left 0.3s, opacity 0.3s;
    font-style: italic;
    cursor:text;
}
input:focus + label,
 input:not(:placeholder-shown) + label {
left: 200px;
opacity: 0;
}
input:hover,
button:hover {
box-shadow: 0px 8px 12px 0 rgba(255,255,255, 0.35);
}
input:focus,
button:focus {
outline:solid 3px rgba(255,255,255, 0.8)
}

button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button::after {
    content: "";
    background: rgba(255,255,255,0.5);
    display: block;
    height: 100px;
    width: 50px;
    position: absolute;
    left: -70px;
    top: -50%;
    transform: skewX(-15deg);
    transition: left 0.15s linear;
}
button:hover::after {
    left: 110%
}
.form__icon {
    border: solid 3px rgba(255,255,255,0.6);
    border-radius: 50%;
    height: 72px;
    width: 72px;
    box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto 24px;
    position: relative;
    overflow: hidden;
    
}
.form__icon::before {
    background: rgba(255,255,255,0.6);
    content: " ";
    height: 24px;
    width: 64px;
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}
.form__spacer {
    background: rgba(255,255,255,0.55);
    height: 2px;
    margin: 0 auto 32px;
    width: 80%;
    border-radius: 100%;

}
.form__icon::after {
    background: rgba(255,255,255,0.6);
    content: " ";
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    bottom: 50%;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.bg__dot {
    background: linear-gradient(
        to left,
        var(--color-light),
        rgba(255,255,255, 0.3)
    );
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}
.bg__dot:nth-child(1) {
    animation: move1 10s linear infinite;
    height: 50vh;
    width: 50vh;
    position: absolute;
    left: 0;
    top: 0;

}
.bg__dot:nth-child(2) {
    animation: move2 15s infinite linear;
    height: 30vh;
    width: 30vh;
    position: absolute;
    left: 50%;
    top: 50%;   
}
@keyframes move1 {
    from {transform: translateY(-50vh)}
    to {
        transform: translateY(100vh);
    }
}
@keyframes move2 {
    from {transform: translateY(50vh)}
    to {
        transform: translateY(-80vh);
    }
}